body {
    display: flex;
    flex-direction: column;
    min-height: 100VH;
    min-width: 100VH;
    margin: 0;

}

.firstSection {

    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1180px;
    width: 100%;

}

.left-links {
    display: flex;
    gap: 20px;
    padding: 9px;

}

.right-links {
    display: flex;
    gap: 20px;
    padding: 9px;
}



.underHeader {
    display: flex;
    flex-direction: row;
    max-width: 1180px;
    width: 100%;
    margin-top: 80px ;
    margin-bottom: 80px ;
    
}


.mainText {
    display: flex;
    gap: 10px;

    flex-direction: column;
    max-width: 60%;
}


-- second section
.secondSection {

    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center;
    max-width: 1180px;

}

.fourRandomThings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
    width: 100%;
    margin-bottom: 90px;

}

.square {
    width: 180px;
    height: 180px;
    border-radius: 15px;
    border: 5px solid #3882f6;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box p {
    display: flex;
    align-items: center;
    width: 180px;

}




.thirdSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #E5E7EB;

    width: 100%;
}

.inspQuote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    padding: 15px;
    font-size: 36px;
    font-style: light italic;
    margin-top: 50px ;
    margin-bottom: 50px ;
}

.GodThunder {
    display: flex;
    font-size: 22px;
    justify-content: flex-end;
}


.fourthSection {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    width: 100%;
    margin-top: 50px ;
    margin-bottom: 50px ;

}

.fourthSectionContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
   width: 1180px;
    border-radius: 10PX;
    margin: 0;
    padding: 40px;
    gap: 180px;

}


.text {
    display: flex;
    flex-direction: column;
    max-width: 50%;

}
.mainText{
    display: flex;
    flex-direction: column;
}

.buttonBem {
display: flex;
align-items: center;
max-width: 50%;
}

-- SEPARACAO -- 

.rectangleContainer {
display: flex;
    max-width: 40%;
}

 .rectangle {
    display: flex;
    justify-content: center;   
    align-items: center; 
    width: 100%;
    min-height: 100%;
background-color: #6d747d;
    
 }


ul {
    list-style-type: none;

}

a {
    text-decoration: none;
}

.left-links a {
    font-family: 'Roboto';
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

.right-links a {
    font-family: 'Roboto';
    color: #E5E7EB;
    font-size: 18px;
}

.heroMainText {
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.heroSubText {
    color: #E5E7EB;
    font-family: 'Roboto';
}


.randomInformation {
    display: flex;
    justify-content: center;

    padding: 30px;
}

.callToAction {
    margin: 0;
}